body {
    margin: 0;
}

.swiper {
    width: 100vw;
    height: calc((750 / 1920) * 100vw);
}

.swiper-slide img {
    width: 100%;
    transition: 3.5s ease-out;
    transform: scale(1.2, 1.2);
}

.swiper-slide-active img {
    transform: scale(1.0, 1.0);
}

.swiper-slide-prev img {
    transform: scale(1.0, 1.0);
}

.swiper-slide-duplicate-active img {
    transition: none;
    transform: scale(1.0, 1.0);
}